@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: Helvetica" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif", sans-serif;
    line-height: 1.7;
}

h2 {
  font-weight: bold;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    /* width: 100%; */
  }

  
  /* header */
  header {
    width: 100%;
    height: 80px;
    /* z-index: 5; */
  }
  
  .page-header-wrapper {
    background-color: white;
    position: fixed;
    margin: 0 auto;
    padding: 0 2%;
    position: fixed;
    z-index: 50;
    }

.page-title p {
    font-size: 10px;
    text-align: right;
    margin: 0;
  }

.main-nav {
  /* position: fixed; */
  /* position: relative; */
  /* position: absolute; */
  display: flex;
  /* display: block; */
  justify-content: space-between;
  align-items: center;
   /* z-index: 4; */
}

.logo {
  width: 120px;
}

.main-nav-item {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}

.nav-item {
  font-size: 15px;
  margin-left: 20px;
}

.nav-item a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.nav-item a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.nav-item a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.nav-item-i {
  margin-left: 20px;
}

/*ハンバーガーボタン*/
.hamburger {
  display : block;
  /* position: fixed;  引用先*/
  /* position: relative; */
  position: absolute;
  z-index : 33;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
}

.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  /* position: fixed; 引用先*/
  /* position: relative; */
  position: absolute;
  z-index : 32;
  top  : 0px;
  left : 0;
  color: #000;
  background: #fff;
  /* text-align: center; */
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
  padding-left: 20px;
}

nav.globalMenuSp ul {
  /* position: relative; */
  background: #fff;
  margin: 0 auto;
  padding: 80px;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}

main {
  padding-top: 80px;
  z-index : 10;
}

.info {
  width: 1000px;
  margin: 100px auto 100px;
  padding: 50px auto 50px;  /* 効いてない？ */
}

.info p {
  color: #ff0000;
  background-color: #f5f5f5;
  text-align: center;
}

.notice:hover {
  text-decoration : underline;
  text-decoration-color:#ff0000; /* 効いてない？ */
}

.ranking h2 {
  /* font-weight: bold; */
  text-align: center;
  margin: 5rem auto 2rem;
}

.ranking-item{
  display: flex;
  justify-content: center;
  list-style: none;
}

.top_ranking {
  color: #ffffff;
  background-color: #000;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.ranking img {
  width: 180px;
  height: 180px;
}

.ranking p {
  width: 180px;
  font-size: 12px;
}

.consept h2 {
  text-align: center;
  margin: 5rem auto 2rem;
}

.consept-wapper {
  background-image: url(../images/img_brand.jpg);
  background-position: center;
  height: 400px;
}
  
.consept-logo {
    padding-top: 100px;
    padding-left: 72px;
}

/* VIEW MORE ボタン https://deshinon.com/2019/03/02/simple-button-css/*/
.buttons-coll {
  color: #fff;
  width: 90%;
  /* top: 30vh;
  left: 20vw; */
  margin-left: 30px;
  text-align: left;
}
button {
  margin: 20px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
/**** BTN No. 14 ****/
.btn-14 {
  border: 2px solid #fff;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #fff;
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  left: 0;
  width: 100%;
}
.btn-14:active {
  top: 2px;
}